# Dependencies
node_modules/
npm-debug.log*
strapi/node_modules/

# Build output
dist/
build/
.strapi/
strapi/dist/
strapi/build/
strapi/.strapi/

# Development
.env.local
.env.*.local


.cache/
.temp/
.tmp/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db


