APP_ENV=development
APP_PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_USER=prashantpal
DB_PASSWORD=password123
DB_NAME=thums-up
DB_SSL_MODE=disable

INFOBIP_BASE_URL=https://api.infobip.com
INFOBIP_API_KEY=your_infobip_api_key
INFOBIP_WA_NUMBER=your_whatsapp_number

JWT_SECRET_KEY=your_jwt_secret_key
JWT_ACCESS_TOKEN_EXPIRY=3600
JWT_REFRESH_TOKEN_EXPIRY=2592000

FIREBASE_SERVICE_KEY_PATH=/path/to/firebase-service-account.json

GCP_BUCKET_NAME=coca-cola-notifications-3a790.appspot.com
GCP_PROJECT_ID=coca-cola-notifications-3a790
GCP_URL=https://storage.googleapis.com
GOOGLE_APPLICATION_CREDENTIALS=./gcp-service-account.json

GOOGLE_PUBSUB_PROJECT_ID=thums-up-project-id
GOOGLE_PUBSUB_SUBSCRIPTION_ID=thums-up-subscription
GOOGLE_PUBSUB_TOPIC_ID=thums-up-topic

X_API_KEY=your_x_api_key

